/*olabildigince class, nth child,:hover,alt elamanlar vb. kullanmaya calıştım.Eksik ve abartı buldugunuz yerleri 
feedback yaparsanız sevinirim.*/
.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content {
  display: flex;
  flex: 2;
}

.section1 {
  display: flex;
  flex: 1;
}

.section2 {
  display: flex;
  flex: 1;
}

.header {
  background-color: rgb(239, 240, 240);
  padding: 15px;
  margin-bottom: 1px;
  border-radius: 15px;
}

.nav {
  font-family: cursive;
}

nav a {
  margin-right: 30px;
  color: rgb(201, 35, 35);
  font-size: 12px;
}

.nav a:hover {
  background-color: rgb(17, 183, 224);
  transition: 300ms all;
}

.sidebar {
  background-color: rgb(239, 240, 240);
  padding: 30px;
  flex-basis: 30%;
  margin-bottom: 1px;
  border-radius: 10px;
}

.sidebar img {
  width: 150px;
  height: 216px;
  margin-left: -40px;
  float: left;
}

.sidebar span {
  font-size: 14px;
  margin-left: 20px;
  font-family: cursive;
  line-height: 390%;
}

.sidebar p {
  margin-top: -20px;
  color: rgb(201, 35, 35);
  font-size: 14px;
}

.social-media:nth-last-child(1) {
  background-color: rgb(226, 197, 197);
}

.social-media:nth-last-child(2) {
  background-color: rgb(231, 214, 214);
}

.social-media:nth-last-child(3) {
  background-color: rgb(238, 229, 229);
}

.social-media:nth-last-child(4) {
  background-color: rgb(247, 242, 242);
}

.main {
  background-color: rgb(239, 240, 240);
  padding: 0 30px;
  flex: 1;
  margin-left: 1px;
  margin-bottom: 1px;
  border-radius: 10px;
}
.main tr > td {
  padding: 0 27px;
}
.main p {
  color: rgb(201, 35, 35);
  font-size: 14px;
}

#extra {
  color: black;
  font-family: cursive;
}
#buyuk {
  text-transform: uppercase;
}

table {
  font-size: 14px;
  font-family: cursive;
  margin-top: -10px;
}

table tr {
  line-height: 200%;
}

.main table tr:nth-last-child(1) {
  background-color: rgb(226, 197, 197);
}

.main table tr:nth-last-child(2) {
  background-color: rgb(231, 214, 214);
}

.main table tr:nth-last-child(3) {
  background-color: rgb(238, 229, 229);
}

.main table tr:nth-last-child(4) {
  background-color: rgb(247, 242, 242);
}

h4 {
  font-family: cursive;
}

.cocuk {
  background-color: rgb(239, 240, 240);
  padding: 30px;
  flex-basis: 30%;
  margin-bottom: 1px;
  border-radius: 10px;
}
.cocuk tr > td {
  padding: 0 20px;
}
.cocuk p {
  margin-top: -20px;
  color: rgb(201, 35, 35);
  font-size: 14px;
}

.cocuk table tr:nth-last-child(1) {
  background-color: rgb(226, 197, 197);
}

.cocuk table tr:nth-last-child(2) {
  background-color: rgb(231, 214, 214);
}

.cocuk table tr:nth-last-child(3) {
  background-color: rgb(238, 229, 229);
}

.cocuk table tr:nth-last-child(4) {
  background-color: rgb(247, 242, 242);
}

.skil {
  background-color: rgb(239, 240, 240);
  padding: 30px;
  flex: 1;
  margin-left: 1px;
  margin-bottom: 1px;
  border-radius: 10px;
}
.skil tr > td {
  padding: 7px 30px;
}

.skil p {
  margin-top: -20px;
  color: rgb(201, 35, 35);
  font-size: 14px;
}
#baslik th:nth-last-child(odd) {
  color: rgb(235, 108, 108);
}
#baslik th:nth-last-child(even) {
  color: rgb(132, 135, 153);
}
.skil table tr:nth-last-child(1) {
  background-color: rgb(226, 197, 197);
}

.skil table tr:nth-last-child(2) {
  background-color: rgb(231, 214, 214);
}

.skil table tr:nth-last-child(3) {
  background-color: rgb(238, 229, 229);
}

.skil table tr:nth-last-child(4) {
  background-color: rgb(247, 242, 242);
}

.hobi {
  background-color: rgb(239, 240, 240);
  padding: 30px;
  flex-basis: 30%;
  margin-bottom: 1px;
  border-radius: 10px;
}
.hobi tr > td {
  padding: 9px 10px;
}
.hobi p {
  margin-top: -20px;
  color: rgb(201, 35, 35);
  font-size: 14px;
}

.hobi table tr:nth-last-child(1) {
  background-color: rgb(226, 197, 197);
}

.hobi table tr:nth-last-child(2) {
  background-color: rgb(231, 214, 214);
}

.hobi table tr:nth-last-child(3) {
  background-color: rgb(238, 229, 229);
}

.hobi table tr:nth-last-child(4) {
  background-color: rgb(247, 242, 242);
}

.video {
  background-color: rgb(239, 240, 240);
  padding: 30px;
  flex: 1;
  margin-left: 1px;
  margin-bottom: 1px;
  border-radius: 10px;
}

.video p {
  margin-top: -20px;
  color: rgb(201, 35, 35);
  font-size: 14px;
}

#bir {
  border: 10px solid rgb(226, 197, 197);
  border-radius: 20px;
}

#iki {
  border: 10px solid rgb(226, 197, 197);
  border-radius: 20px;
  margin-left: 40px;
}

.footer {
  background-color: rgb(239, 240, 240);
  padding: 10px;
  margin-top: 2px;
  border-radius: 10px;
}

#footer {
  background-color: rgb(240, 221, 221);
}
