.container {
  display: flex;
  width: 1000px;
  height: 400px;
  margin: 0px auto;
  justify-content: space-around;
  align-items: center;
  background-color: blanchedalmond;
}
.uclu {
  height: 300px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: purple;
}

.parca-1 {
  height: 0px;
  width: 0px;
  margin-bottom: -80px;
  border: 40px solid#FADE8B;
  border-bottom-left-radius: 180px;
  border-bottom-right-radius: 180px;
}
.parca-2 {
  height: 0px;
  width: 0px;
  margin-top: -80px;
  border: 40px solid#FADE8B;
  border-top-left-radius: 180px;
  border-top-right-radius: 180px;
}
.parca-3 {
  height: 0px;
  width: 0px;
  margin-bottom: -80px;
  border: 40px solid#FADE8B;
  border-bottom-left-radius: 180px;
  border-bottom-right-radius: 180px;
}

.daire {
  height: 300px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #e3516e;
}
.dis{
  height: 200px;
  width: 200px;
  display: flex;
  flex-wrap: wrap;
  background-color: #e3516e;
}
.parca-sol {
  height: 100px;
  width: 100px;
  background-color: #51b5a9;
  border-radius: 100% 0% 0% 0%;
}
.parca-sag {
  height: 100px;
  width: 100px;
  background-color: #fade8b;
  border-radius: 0% 100% 0% 0%;
}
.parca-sol-alt {
  height: 100px;
  width: 100px;
  background-color: #f7f3d7;
  border-radius: 0% 0% 0% 1000%;
}
.parca-sag-alt {
  height: 100px;
  width: 100px;
  border-radius: 0% 0% 100% 0%;
}
.circel {
  height: 300px;
  width: 300px;
  display: flex;
  flex-wrap: wrap;
  background-color: #191210;
  justify-content: center;
  align-items: center;

}
.cember1{
  position: absolute;
  height: 20px;
  width: 40px;
  border: 14px solid #eca03d;
  border-radius: 0 0 110px 110px ; 
  border-top: 0;
  margin-bottom: -40px;
  margin-left: -138px;
}
.cember2 {
  height: 70px;
  width: 70px;
  border: 14px solid #eca03d;
  border-radius: 50%;

}
.nokta {
  height: 11px;
  width: 11px;
  border: 11px solid #84271c;
  border-radius: 50%;
  margin: 20px;
  background-color: #84271c;
}
.cember3{
  position: absolute;
  height: 20px;
  width: 40px;
  border: 14px solid #eca03d;
  border-radius: 110px 110px 0 0; 
  border-bottom: 0;
  margin-top: -40px;
  margin-right: -140px;
}