#center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 65vw;
  height: 55vh;
  margin: 0 10px;
  background-color: #f6f8fc;
}
.ana {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30vw;
  height: 43vh;
  background-color: #f6f8fc;
}
#nokta {
  width: 2.5vw;
  height: 5vh;
  border-radius: 50%;
  background-color: #66a8f2;
  margin-left: 150px;
  margin-bottom: -20px;
}
#ucgen {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -80px;
  margin-left: 80px;
}
#ucgenbir {
  width: 6vw;
  height: 8vh;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  background-color: #66a8f2;
}
#ucgeniki {
  width: 10vw;
  height: 14vh;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  margin-bottom: 34px;
  margin-left: -35px;
  background-color: #66a8f2;
}
#noktalar {
  font-size: 50px;
  color: #66a8f2;
  margin-bottom: 20px;
  margin-left: 15px;
}