/*general settings*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: content-box;
}
main {
  width: 100vw;
  height: 100vh;
  background-color: #66a8f2;
}
color {
  compenet: #66a8f2;
}
header {
  display: flex;
  width: 100vw;
  height: 30vh;
}
#header-sol {
  background-color: #f6f8fc;
  width: 30vw;
  height: 20vh;
  margin: 20px 10px;
}
#header-orta {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vw;
  height: 20vh;
  margin: 20px 10px;
  background-color: #f6f8fc;
}
#cursor {
  width: 2vw;
  height: 4vh;
  border-radius: 100%;
  background-color: #66a8f2;
}
#header-sag {
  width: 15vw;
  height: 34vh;
  margin: 20px 10px;
  background-color: #66a8f2;
}
.cizgi {
  width: 15vw;
  height: 3vh;
  border-radius: 3px;
  margin-bottom: 11px;
  background-color: #f6f8fc;
}
#container {
  display: flex;
  width: 100vw;
  height: 55vh;
}
#mobile {
  width: 18vw;
  height: 55vh;
  margin: 0 10px;
  border-radius: 22px;
  background-color: #f6f8fc;
}
#center {
  width: 62vw;
  height: 55vh;
  margin: 0 10px;
  background-color: #f6f8fc;
}
#ac-kapa {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 13vw;
  height: 7vh;
  margin: 0 10px;
}
.bir {
  width: 2vw;
  height: 3.5vh;
  border-radius: 100%;
  background-color: #f6f8fc;
  border: 1px solid #f6f8fc;
}
.iki {
  width: 2vw;
  height: 3.5vh;
  border-radius: 100%;
  margin-left: -7px;
  background-color: #f6f8fc;
  border: 1px solid #f6f8fc;
}
.uc {
  width: 2vw;
  height: 3.5vh;
  border-radius: 100%;
  margin-left: 15px;
  background-color: #f6f8fc;
  border: 1px solid #f6f8fc;
}
.dort {
  width: 2vw;
  height: 3.5vh;
  border-radius: 100%;
  margin-left: -12px;
  background-color: #66a8f2;
  border: 1px solid #f6f8fc;
}

#aside {
  width: 30vw;
  height: 43vh;
  margin: 0 10px;
  margin-top: 30px;
  background-color: #f6f8fc;
}
footer {
  display: flex;
  width: 100vw;
  height: 15vh;
}
.bar {
  width: 67vw;
  height: 7vh;
  margin: 10px 10px;
  background-color: #f6f8fc;
}
.nav {
  width: 30vw;
  height: 7vh;
  margin: 10px 10px;
  background-color: #f6f8fc;
}
nav ul {
  display: flex;
}
