.sagust{
    width: 200px;
    height: 150px;
   background-color: red;
   text-align: center;
   line-height: 100px;

}
.sagalt{
    width: 200px;
    height: 150px;
   background-color: rosybrown;
   position: absolute;
   margin: 300px 1000px;
   text-align: center;
   line-height: 100px;
}
.solust{
    width: 200px;
    height: 150px;
   background-color: royalblue;
   position: absolute;
   margin:00px 1000px;
   border-radius: 100%;
   text-align: center;
   line-height: 100px;
}
.solalt{
    width: 200px;
    height: 150px;
   background-color: aqua; 
   position: absolute;
   margin: 300px 0px;
   border-radius: 100%;
   text-align: center;
   line-height: 100px;
}